html, body {
  height: 100%; }

html {
  font-family: 'Abel', sans-serif !important;
  background: #635A5A;
  color: #221f1f;
  font-size: 18px; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    font-weight: bold !important;
    color: #221f1f;
    font-family: 'Abel', sans-serif !important; }
  html a {
    color: #FFF; }
    html a:hover {
      color: #FFF; }
  html h1 {
    font-size: 3rem;
    line-height: 4rem; }
  html h2 {
    font-size: 2rem;
    line-height: 3rem; }
  html h3 {
    font-size: 1.8rem;
    line-height: 2.8rem; }
  html h4 {
    font-size: 1.6rem;
    line-height: 2.6rem; }
  html h5 {
    font-size: 1.4rem;
    line-height: 2.4rem; }
  html h6 {
    font-size: 1.2rem;
    line-height: 2.2rem; }
  @media (max-width: 1400px) {
    html {
      font-size: 16px; } }
  @media (max-width: 1100px) {
    html {
      font-size: 14px; } }

.Takki {
  position: relative;
  display: inline-block;
  border: 2px solid rgba(34, 31, 31, 0.9);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  z-index: 2;
  color: #FFF;
  background: rgba(255, 255, 255, 0.1);
  transition: color 0.2s, border 0.2s, background 0.2s; }
  .Takki:hover {
    color: #FFF;
    border: 2px solid rgba(34, 31, 31, 0.9);
    background: rgba(34, 31, 31, 0.9);
    text-decoration: none; }
    .Takki:hover:before {
      border: 1px solid rgba(255, 255, 255, 0.9); }
  .Takki:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 1px solid rgba(34, 31, 31, 0.9); }

.Haus {
  z-index: 10;
  position: absolute;
  background: rgba(34, 31, 31, 0);
  top: 0;
  width: 100%; }
  .Haus div {
    /*outline: 1px solid lime;*/ }
  .Haus--subpage {
    background: #221f1f;
    position: relative; }

.Boxes .Box {
  position: relative;
  background-size: cover;
  background-position: center center;
  z-index: 0; }
  .Boxes .Box h1, .Boxes .Box h2, .Boxes .Box h3, .Boxes .Box h4, .Boxes .Box h5, .Boxes .Box h6 {
    text-transform: uppercase;
    color: #FFF; }
  .Boxes .Box:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%; }
  .Boxes .Box--content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .Boxes .Box--shaded:hover:after {
    background: rgba(34, 31, 31, 0.15);
    transition: background 0.5s; }
  .Boxes .Box--shaded:after {
    transition: background 0.5s;
    position: absolute;
    content: "";
    z-index: -1;
    background: rgba(34, 31, 31, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.Footer {
  background: #221f1f;
  height: 500px; }

.Content {
  min-height: 800px;
  background: #FFF; }

header {
  background: #181010; }
  header h1 {
    text-align: center;
    color: #FFF; }

.Front {
  position: relative;
  display: block;
  min-height: 400px; }
  .Front:before {
    z-index: 5;
    box-shadow: inset 0px 128px 256px rgba(34, 31, 31, 0.8);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .Front .uk-slideshow li {
    min-height: 80vh;
    height: 75vw;
    max-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }

.Wrapper {
  max-width: 1600px;
  position: relative;
  margin: 0 auto; }

nav.top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  background: rgba(34, 31, 31, 0); }
  nav.top div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    nav.top div img {
      width: 100%;
      height: auto !important; }
      @media (max-width: 1100px) {
        nav.top div img {
          max-height: 120px;
          width: auto !important;
          margin: 0 auto; } }
    nav.top div a {
      text-transform: uppercase;
      text-shadow: 0px 0px 4px #221f1f; }
      nav.top div a:hover {
        text-decoration: none; }
    @media (max-width: 1100px) {
      nav.top div:first-child {
        -webkit-flex-grow: 1 !important;
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important; } }
    @media (max-width: 1100px) {
      nav.top div.hidden-small {
        display: none;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  nav.top.sticky-active {
    height: 100px;
    background: rgba(34, 31, 31, 0.9); }
    nav.top.sticky-active a {
      text-shadow: none !important; }
    nav.top.sticky-active img {
      max-height: 120px;
      width: auto !important;
      margin: 0 auto; }

.Page {
  box-sizing: border-box;
  padding: 2em;
  max-width: 1000px;
  margin: 0 auto; }

/*# sourceMappingURL=app.css.map */
