@mixin aspect-ratio($width, $height) {
	position: relative;
	
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	
	&--content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

$dark: #221f1f;
$dark-darker: #181010;
$dark-lighter: #635A5A;
$max-width: 1600px;
$base: 18px;

html, body {
	height: 100%;
}

html {
	font-family: 'Abel', sans-serif !important;

	background: $dark-lighter;
	color: $dark;

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold !important;
		color: $dark;
		font-family: 'Abel', sans-serif !important;
	}

	a {
		color: #FFF;

		&:hover {
			color: #FFF;
		}
	}

	font-size: $base;

	h1 {
		font-size: 3rem;
		line-height: 4rem;
	}
	h2 {
		font-size: 2rem;
		line-height: 3rem;
	}
	h3 {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
	h4 {
		font-size: 1.6rem;
		line-height: 2.6rem;
	}
	h5 {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
	h6 {
		font-size: 1.2rem;
		line-height: 2.2rem;
	}

	@media (max-width: 1400px) {
		font-size: 16px;
	}

	@media (max-width: 1100px) {
		font-size: 14px;
	}
}

.Takki {
	position: relative;
	display: inline-block;
	border: 2px solid rgba($dark, 0.9);
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	z-index: 2;
	color: #FFF;
	background: rgba(#FFF, 0.1);
	transition: color 0.2s, border 0.2s, background 0.2s;

	&:hover {
		color: #FFF;
		border: 2px solid rgba($dark, 0.9);
		background: rgba($dark, 0.9);
		text-decoration: none;

		&:before {
			border: 1px solid rgba(#FFF, 0.9);
		}
	}
	
	&:before {
	    content: "";
	    display: block;
	    position: absolute;
	    z-index: 1;
	    top: 2px;
	    left: 2px;
	    right: 2px;
	    bottom: 2px;
	    border: 1px solid rgba($dark, 0.9);
	}
}

.Haus {
	div {
		/*outline: 1px solid lime;*/
	}

	z-index: 10;
	position: absolute;
	background: rgba($dark, 0);
	top: 0;
	width: 100%;

	&--subpage {
		background: rgba($dark, 1);
		position: relative;
	}
}

.Boxes {
	.Box {
		h1, h2, h3, h4, h5, h6 {
			text-transform: uppercase;
			color: #FFF;
		}
		@include aspect-ratio(4, 3);
		background-size: cover;
		background-position: center center;
		z-index: 0;

		&:hover {
			&:after {
				background: rgba($dark, 0.15);
				transition: background 0.5s;
			}
		}

		&:after {
			transition: background 0.5s;
			position: absolute;
			content: "";
			z-index: -1;
			background: rgba($dark, 0.5);
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}

.Footer {
	background: $dark;
	height: 500px;
}

.Content {
	min-height: 800px;
	background: #FFF;
}

header {
	background: $dark-darker;

	h1 {
		text-align: center;
		color: #FFF;
	}
}

.Front {
	position: relative;

	&:before {
		z-index: 5;
		box-shadow: inset 0px 128px 256px rgba($dark, 0.8);
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	display: block;
	min-height: 400px;

	.uk-slideshow {
		li {
			min-height: 80vh;
			height: 75vw;
			max-height: 100vh;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}

.Wrapper {
	max-width: $max-width;
	position: relative;
	margin: 0 auto;
}

nav {
	&.top {
		display: flex;
		height: 150px;

		div {
			display: flex;
			justify-items: center;
			justify-content: space-around;
			align-items: center;
			width: 100%;

			text-align: center;
			white-space: nowrap;

			img {
				width: 100%;
				height: auto !important;
				
				@media (max-width: 1100px) {
					max-height: 120px;
					width: auto !important;
					margin: 0 auto;
				}
			}

			a {
				text-transform: uppercase;
				text-shadow: 0px 0px 4px $dark;

				&:hover {
					text-decoration: none;
				}
			}

			flex: 1;

			&:first-child {
				@media (max-width: 1100px) {
					flex-grow: 1 !important;
				}
			}

			&.hidden-small {
				@media (max-width: 1100px) {
					display: none;
					justify-content: space-between;
				}
			}
		}

		background: rgba($dark, 0);

		&.sticky-init {
		}

		&.sticky-inactive {
		}
		
		&.sticky-active {
			height: 100px;
			background: rgba($dark, 0.9);

			a {
				text-shadow: none !important;
			}

			img {
				max-height: 120px;
				width: auto !important;
				margin: 0 auto;
			}
		}
	}
}

.Page {
	box-sizing: border-box;
	padding: 2em;
	max-width: 1000px;
	margin: 0 auto;
}