@mixin aspect-ratio($width, $height) {
	position: relative;
	
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	
	&--content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

$green: #0D130D;
$dark: #221f1f;
$dark-darker: #181010;
$dark-lighter: #635A5A;
$dark-lighter2: lighten(#635A5A, 60%);
$max-width: 1600px;
$base: 18px;
$line-height: 32px;
$radius: 4px;

html, body {
	height: 100%;
}

html {
	font-family: 'Abel', sans-serif !important;

	background: $dark-lighter;
	color: $dark;

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold !important;
		color: $dark;
		font-family: 'Abel', sans-serif !important;
	}

	a {
		color: #FFF;

		&:hover {
			color: #FFF;
		}
	}

	font-size: $base;
	line-height: $line-height;

	h1 {
		font-size: 3rem;
		line-height: 4rem;
	}
	h2 {
		font-size: 2rem;
		line-height: 3rem;
	}
	h3 {
		font-size: 1.5rem;
		line-height: 2.5rem;
	}
	h4 {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
	h5 {
		font-size: 1.3rem;
		line-height: 2.3rem;
	}
	h6 {
		font-size: 1.2rem;
		line-height: 2.2rem;
	}

	@media (max-width: 1400px) {
		font-size: 16px;
	}

	@media (max-width: 1100px) {
		font-size: 14px;
	}
}





input, textarea, select {
	box-shadow: 0px 0px 8px rgba($dark, 0.2);
	border-radius: $radius;
	font-family: 'Abel', sans-serif !important;
	background: $dark;
	color: #FFF;
	font-size: 1rem;
	padding: 0.5em;
	border: 0px solid #FFF !important;
}


.takki +,
a.takki +,
button.takki +,
.fancy-takki + {
	outline: 1px solid red;
}

.takki,
a.takki,
button.takki,
.fancy-takki {
	font-family: 'Abel', sans-serif !important;
	position: relative !important;
	vertical-align: top !important;
    display: inline-block !important;
	border: 2px solid rgba($dark, 0.9) !important;
	text-transform: uppercase !important;
	padding: 0.75rem 1.25rem !important;
	line-height: 1rem !important;
	z-index: 2 !important;
	box-sizing: border-box !important;
	margin-top: 0;
	margin-left: 0;
	text-align: center !important;
	margin-bottom: 0.5em !important; 
	margin-right: 0.5em !important;
	font-size: 1.1rem !important;
	cursor: pointer !important;
	transition: color 0.2s, border 0.2s, background 0.2s !important;

	color: $dark !important;
	background: rgba($dark, 0.1) !important;

	&--contrast {
		color: #FFF !important;
		background: rgba(#FFF, 0.1);
	}

	@media (max-width: 520px) {
		display: block !important;
		clear: both;
		width: 100% !important;
	}

	&:hover {
		color: #FFF !important;
		border: 2px solid rgba($dark, 0.9);
		background: rgba($dark, 0.9) !important;
		text-decoration: none;

		&:before {
			border: 1px solid rgba(#FFF, 0.9);
		}
	}
	
	&:before {
	    content: "";
	    display: block;
	    position: absolute;
	    z-index: 1;
	    top: 2px;
	    left: 2px;
	    right: 2px;
	    bottom: 2px;
	    border: 1px solid rgba($dark, 0.9);
	}
}

.Haus {
	div {
		/*outline: 1px solid lime;*/
	}

	z-index: 10000;
	position: absolute;
	background: rgba($dark, 0);
	top: 0;
	width: 100%;

	&--subpage {
		background: rgba($dark, 1);
		position: relative;
	}
}

[v-cloak] {
	display: none;
}

.filteritem {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	border-right: 1px solid rgba($dark, 0.1);
	border-bottom: 1px solid rgba($dark, 0.1);
	padding: 0.5em;
	background: #FFF;
}

.grid-filter {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		i {
			width: 16px;
			text-align: center;
		}
		a {
			padding: 0.5em;
			display: block;
			color: $dark;
			transition: padding 0.15s;
			position: relative;
			&.filter-active, &:hover {
				padding-left: 2em;
				color: $dark;
				text-decoration: none;
			}
			&.filter-active:before {
				font-family: FontAwesome;
				position: absolute;
				left: 0.5em;
				content: "\f00c";
			}
		}
		display: block;
		clear: both;
	}
}

.Badge {
	z-index: 1;
	position: absolute;

	&--collection {
		top: 1em;
		right: 1em;
		width: 16px;
		height: 16px;
		border-radius: 50%;
	}

	&--kyn {
		text-align: center;
		top: 1em;
		left: 1em;
	}
}





#product-view {
	.product__option {
		margin-bottom: 1em;
	}
	.product__options {
		label {
			font-weight: bold;
			padding-bottom: 0.5em;
			display: block;
			clear: both;
		}
	}
	.product__aukamynd {
		border-radius: $radius;
		box-shadow: 0px 0px 8px rgba($dark, 0.2);
		display: inline-block;
		a {
			border-radius: $radius;
			box-shadow: 0px 0px 8px rgba($dark, 0.2);
			background: #FFF;
			overflow: hidden;
			display: inline-block;
		}
	}
	.product__price {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size: 1.5rem;
	}
	.product__mynd {
		overflow: hidden;
		border-radius: $radius;
		box-shadow: 0px 0px 8px rgba($dark, 0.2);
		background: #FFF;

		text-align: center;

		img {
			max-height: 500px;
			width: auto !important;
			margin: 0 auto;
		}
	}
}





.Boxes {
	&--products {
		padding: 1em;
	}
	.Product {
		position: relative;
		box-sizing: border-box;
		
		h1, h2, h3, h4, h5, h6 {
			text-align: center;
			color: $dark;
			a {
				color: $dark;
				text-decoration: none;
			}
		}

		&--image {
			@include aspect-ratio(5,6);
			border-radius: $radius;
			box-shadow: 0px 0px 8px rgba($dark, 0.2);
			/*border: 1px solid #EEE;*/
			display: block;
			background-size: cover;
			background-position: center center;
			z-index: 0;
		}

		&--content {
			position: relative;
			text-align: center;

			.title {
				padding-left: 1em;
				padding-right: 1em;
				h1, h2, h3, h4, h5, h6 {
					line-height: 2rem !important;
					padding: 0;
					margin: 0;
				}
			}
		}
	}

	.Box {
		position: relative;

		h1, h2, h3, h4, h5, h6 {
			text-align: center;
			text-transform: uppercase;
			color: #FFF;
		}

		@include aspect-ratio(4, 3);

		background-size: cover;
		background-position: center center;
		z-index: 0;

		&--shaded {
			&:hover {
				&:after {
					background: rgba($dark, 0.15);
					transition: background 0.5s;
				}
			}

			&:after {
				transition: background 0.5s;
				position: absolute;
				content: "";
				z-index: -1;
				background: rgba($dark, 0.5);
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
		}
	}
}

.uk-notify-message {
	background: rgba($dark-lighter, 0.9);
	font-size: 1.2rem;
	text-align: center;
	a.uk-close {
		display: none !important;
	}
}

.Footer {
	background: $dark;
	padding: 1em;
	color: #FFF;
	h1, h2, h3, h4, h5, h6 {
		color: #FFF;
	}
	line-height: 1.5rem;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

.Content {
	a {
		color: $dark;
		&:hover {
			color: $dark;
		}
	}
	background: $dark-lighter2;
	min-height: 100vh;
}

header {
	padding-top: 1em;
	padding-bottom: 1em;
	background: $dark-darker;

	h1 {
		padding: 0;
		margin: 0;
		text-align: center;
		color: #FFF;
	}
}

.Lengja {
	padding: 3rem;
	text-align: center;
	font-weight: normal !important;
	background: $green;
	h1, h2, h3, h4, h5, h6 {
		color: #FFF;
		padding: 0;
		margin: 0;
	}
	color: #FFF;
}

.Front {
	position: relative;

	&:before {
		z-index: 5;
		box-shadow: inset 0px 128px 256px rgba($dark, 0.8);
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	display: block;

	min-height: 400px;

	.uk-slideshow {
		li {
			min-height: 80vh;
			height: 75vw;
			max-height: 100vh;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}

.Wrapper {
	max-width: $max-width;
	position: relative;
	margin: 0 auto;
}



nav {
	&.leftmenu {
		ul li a span {
			display: block;
		}
		ul li a span {
		}
		ul li ul li a span {
			padding-left: 0.5em;
		}
		ul li ul li ul li a span {
			padding-left: 1em;
		}
		ul li ul li ul li ul li a span {
			padding-left: 1.5em;
		}
		ul li ul li ul li ul li ul li a span {
			padding-left: 2em;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			border-top: 1px solid rgba($dark, 0.1);
			ul {
				border-top: 0px solid rgba($dark, 0.1);
			}
		}
		li {
			padding: 0;
			margin: 0;
			&.active {
				> a {
					font-weight: bold;
				}
			}
			&.being-viewed {
				> a {
					font-weight: bold;
					background: $dark;
					color: #FFF;
				}
			}
		}
		a {
			text-transform: uppercase;
			border: 1px solid rgba($dark, 0.1);
			border-top: 0px solid #FFF;
			padding: 0.5em;
			margin: 0;
			display: block;
			color: $dark;
			&:hover {
				background: $dark-lighter2;
				text-decoration: none;
			}
		}
	}

	&.top {
		display: flex;
		height: 150px;

		div {
			display: flex;
			justify-items: center;
			justify-content: space-around;
			align-items: center;
			width: 100%;

			text-align: center;
			white-space: nowrap;

			img {
				width: 100%;
				height: auto !important;
				
				@media (max-width: 1100px) {
					max-height: 120px;
					width: auto !important;
					margin: 0 auto;
				}
			}

			a {
				text-transform: uppercase;
				text-shadow: 0px 0px 4px $dark;

				&:hover {
					text-decoration: none;
				}
			}

			flex: 1;

			&:first-child {
				@media (max-width: 1100px) {
					flex-grow: 1 !important;
				}
			}

			&.hidden-small {
				@media (max-width: 1100px) {
					display: none;
					justify-content: space-between;
				}
			}
		}

		background: rgba($dark, 0);

		&.sticky-init {
		}

		&.sticky-inactive {
		}
		
		&.sticky-active {
			height: 100px;
			background: rgba($dark, 0.9);

			a {
				text-shadow: none !important;
			}

			img {
				max-height: 120px;
				width: auto !important;
				margin: 0 auto;
			}
		}
	}
}

.Page {
	box-sizing: border-box;
	padding: 2em;
	max-width: 1000px;
	margin: 0 auto;
}


/*.uk-text-center-small {
	@media (max-width: 768px) {
		text-align: center !important;
	}
}*/











figure {
	display: inline-block;
	width: 100%;
	img {
		width: 100%;
		vertical-align: top;
	}
	&.lefter, &.righter {
		max-width: 350px;
	}
	&.lefter {
		margin-right: 2rem;
		float: left;
	}
	&.righter {
		margin-left: 2rem;
		float: right;
	}
	
	@media (max-width: 1400px) {
		&.lefter, &.righter {
			max-width: 300px;
		}
	}

	@media (max-width: 1100px) {
		&.lefter, &.righter {
			max-width: 250px;
		}
	}

	@media (max-width: 800px) {
		&.lefter, &.righter {
			max-width: 200px;
		}
	}

	@media (max-width: 600px) {
		&.lefter, &.righter {
			max-width: none !important;
		}
		display: block !important;
		width: 100%;
		img {
			width: 100%;
		}
	}
}