$yellow: #d7bc02;
$purple: #73058E;
$blue: #142893;
$yellow-dark: darken($yellow, 10%);
$yellow-lite: desaturate(lighten($yellow, 50%), 50%);
$grey: #a7a9ac;
$grey2: #d1d2d4;
$dark: #2e2d2b;
$grey2-dark: darken($grey2, 65%);
$max-width: 1600px;
$font1: 'Cabin', sans-serif;
//$font2: 'Josefin Sans', sans-serif;
//$font3: 'Lato', sans-serif;

[v-cloak] {
	display: none !important;
}

html, body { height: 100%; }

html {
	hr {
		border-top: 1px solid $yellow;
	}

	background: #EEE;

	color: $grey !important;

	em {
		color: $grey !important;
	}

	font-weight: 300;
	font-size: 18px;
	line-height: 36px;

	font-family: $font1;

	.takki,
	a.takki,
	button.takki {
		font-family: $font1 !important;
		font-size: 18px !important;
		line-height: 36px !important;
	}

	h1 {
		font-size: 3rem;
		line-height: 4rem;
	}
	h2 {
		font-size: 2.2rem;
		line-height: 3.2rem;
	}
	h3 {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
	h4 {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
	h5 {
		font-size: 1.2rem;
		line-height: 2.2rem;
	}
	h6 {
		font-size: 1rem;
		line-height: 2rem;
	}

	@media (max-width: 1400px) {
		#logo {
			img {
				max-height: 140px;
				width: auto !important;
			}
		}
	}

	@media (max-width: 1100px) {
		#logo {
			img {
				max-height: 120px;
				width: auto !important;
			}
		}
	}

	@media (max-width: 1400px) {
		font-size: 17px;
		line-height: 34px;
	}

	@media (max-width: 1100px) {
		font-size: 16px;
		line-height: 32px;
	}

	@media (max-width: 800px) {
		font-size: 15px;
		line-height: 30px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $font1;
		font-weight: bold;
		text-transform: uppercase;
	}
	h1, h2, h3, h4, h5, h6, input, textarea, select, button, p {
		color: $grey;
	}
}




/* TAKKI */
.takki,
a.takki,
button.takki {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0.5em !important; 
	margin-right: 0.5em !important;
	color: $yellow;
	border: 1px solid $yellow !important;
	display: inline-block !important;
	box-sizing: border-box !important;
	text-align: center;
	text-decoration: none !important;
	padding: 0.5em 1em !important;
	cursor: pointer !important;
	
	@media (max-width: 480px) {
		display: block !important;
		width: 100%;
	}
	
	background: none !important;
	text-transform: uppercase;	
	transition: background 0.2s, color 0.2s, border 0.2s;

	&.focus, &.active, &:hover {
		background: $dark !important;
		color: $yellow;
		border: 1px solid $dark !important;
	}
}





body {
	a {
		&.fbcolor {
			i {
				transition: color 0.2s;
				color: #3b5998;
			}
			&:hover {
				i {
					color: #8b9dc3;
				}
			}
		}
		color: $yellow;
		transition: color 0.2s;
		&:hover {
			color: $yellow-dark;
		}
	}
}







/* FORM */
input, textarea, select {
	border: 0px solid $yellow !important;
	background: #EEE !important;
	color: $grey !important;
	padding: 0.5em;
	font-size: 1rem !important;
}
form {
	&.basic {
		h3 {
			padding-bottom: 1em;
		}
		label {
			display: block;
			padding-bottom: 1em;
			background: none;
			color: inherit;
			transition: color 0.2s, background 0.2s;
			&.errors {
				color: #d47464 !important;
				input, select, textarea {
					color: #FFF !important;
					background: lighten(desaturate(#d47464, 25%), 25%) !important;
				}
			}
		}
	}
}









/* FORSÍÐUMYNDIR */
.front {
	min-height: 700px;
	@media (max-width: 1400px) {
		min-height: auto !important;
	}
	background: $grey;
}
.forsidumyndir {
	position: relative;

	.forsidumynd {
		background-position: center center;
		display: block;
		width: 100%;
		height: 50vw;
		min-height: 300px;
		max-height: 700px;
		background-size: cover;
	}
}


/* NAV */
.uk-offcanvas-bar {
	background: $dark;
}
nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&.submenu {
		div {
			&.being_viewed {
				> a {
					color: #FFF;
					background: $yellow !important;
				}
			}

			&.being_viewed:hover {
				> a {
					border: 1px solid $yellow !important;
				}
			}

			a {
				@extend .takki;
				width: 100%;
			}
			/*&.being_viewed {
				a {
					text-decoration: none;
					background: $yellow-dark;					
				}
			}
			a {
				background: $yellow;
				font-weight: 600;
				color: #FFF;
				padding: 0.5em;
				margin-bottom: 0.5em;
				display: block;
				transition: background 0.2s;

				&:hover {
					text-decoration: none;
					background: $yellow-dark;
				}
			}*/
		}
	}

	&.offcanvas {
		div {
			display: block;
			padding: 0;
			margin: 0;
			&.being_viewed {
				> a {
					text-decoration: none;
					background: $yellow;					
				}
			}
			a {
				font-weight: 600;
				font-size: 120%;
				display: block;
				font-size: 1em;
				padding: 1em;
				text-transform: uppercase;
				margin: 0;
				color: #FFF;
				&:hover {
					text-decoration: none;
					color: $yellow;
					background: $grey2;
				}
				transition: color 0.2s, background 0.2s;
			}
		}
	}

	&.top {
		background: $dark;
		max-width: $max-width;
		margin: 0 auto;
		display: flex;
		align-content: space-around;
		justify-content: center;
		flex: 1 1 100%;

		.being_viewed {
			> a {
				color: #FFF;
				background: $yellow;
			}
		}

		div {
			a {
				transition: color 0.2s, background 0.2s;
				&:hover {
					text-decoration: none;
					color: $yellow;
					background: $grey2;
				}				
			}
		}

		a {
			color: #FFF;
			font-size: 1em;
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			padding: 1em;
			white-space: nowrap;
			font-weight: bold;
			text-align: center;
			transition: color 0.2s, background 0.2s;
			&:hover {
				text-decoration: none;
				color: $yellow;
				background: $grey2;
			}
			font-weight: 600;
		}

		> div {
			&.active {
				> a {
					color: #FFF;
					background: $yellow;
				}	
			}
		}

		> div {
			position: relative;
			flex: 1 1 100%;

			/*&:first-child {
				margin-left: 0.5em;
				border-left: 1px solid $yellow-lite;
			}

			&:last-child {
				margin-right: 0.5em;
			}*/

			&.opened {
				background: $grey2;
				> div {
					visibility: visible;
					opacity: 1;
				}
			}

			> div {
				background: $grey2;

				a {
					font-size: 1em;
				}

				&:last-child {
				}

				transition: opacity 0.2s;
				position: absolute;
				left: 0;
				right: 0;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}






/* CART */
#cart {
	.cart-table-container {
		position: relative;
		display: block;
		margin-bottom: 1em;

		.updating-cart {
			background: rgba(#FFF, 0);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.2s, background 0.2s;

			&.active {
				opacity: 1;
				pointer-events:	auto;
				background: rgba(#FFF, 0.5);
			}
		}
	}

	table.cart-table {
		background: #FFF;
		width: 100%;

		th, td {
			padding: 0.5em !important;

			img {
				/*border: 1px solid $yellow-lite;*/
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
}






/* AUKA */
.table-tech {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	
	tr {
		padding: 0;
		margin: 0;
		/*border-bottom: 1px dotted #DDD;*/
	}

	td {
		font-size: 0.85em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	td:first-child {
		padding-left: 0 !important;
		text-align: left;
		font-weight: bold;
	}
	td:last-child {
		padding-right: 0 !important;
		text-align: right;
	}
}








/* PRODUCT */
.product {
	&__option {
		padding-bottom: 1em;
	}
	&__price {
		color: $yellow;
		font-weight: 600;
		font-size: 150%;
	}
	&__options {
		label {
			display: block;
			clear: both;
		}
	}
	&__mynd {
		clear: both;
		border: 1px solid $yellow;
		a {
			display: block;
			text-align: center;
			background: #FFF;
			img {
				display: inline-block;
				margin: 0 auto;
				max-width: 100%;
				max-height: 500px !important;
				height: auto !important;
			}
		}
	}
	&__aukamynd {
		text-align: center;
		padding-bottom: 1px;
		display: block;
		clear: both;
		a {
			background: #FFF;
			margin: 0 auto;
			display: inline-block;
			text-align: center;
		}
		img {
			margin: 0 auto;
			display: inline-block;
			background: $grey;
			border: 1px solid $yellow;
		}
	}
}











/* CONTAINERS */
.cart-widget-container {
	float: right;
	@media (max-width: 768px) {
		float: none !important;
		display: inline-block !important;
		text-align: center;
	}
}

header {
	max-width: $max-width;
	display: block;
	padding-left: 0;
	/*border-bottom: 1px solid $yellow-lite;*/
	padding-right: 0;
	margin: 0 auto;
	text-align: center;
	/*margin-top: 2em;
	margin-bottom: 2em;*/
	@media (max-width: 768px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	padding-top: 100px;
	padding-bottom: 100px;
	h1 {
		position: relative;
		text-align: center;
		&:before, &:after {
			content: " ";
			left: 0;
			right: 0;
			margin: 0 auto;
			position: absolute;
			width: inherit !important;
			clear: both;
			display: inline-block;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		display: inline-block;
		margin: 0 auto;
		font-weight: 600;
		color: #FFF;
	}
}
.menu {
	position: relative;
	z-index: 100;
	/*border-top: 1px solid $yellow-lite;
	border-bottom: 1px solid $yellow-lite;*/
}

.content-container {
	/*border-left: 1px solid $yellow-lite;
	border-right: 1px solid $yellow-lite;*/
	max-width: $max-width;
	box-sizing: border-box;
	margin: 0 auto;
}
.content {
	box-sizing: border-box;
	padding: 25px;
	min-height: 600px;
	h1, h2, h3, h4, h5, h6 {
		color: $yellow;
	}
}

.haus {
	background: #FFF;
	position: relative;
	padding: 3em;
}

.footer {
	ul.bottom-ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		li {
			display: inline;
			font-size: 0.85rem;
			text-align: center;

			@media (max-width: 480px) {
				display: block;
				clear: both;
				&:after {
					display: none !important;
				}
			}

			&:after {
				/*content: "\f111";*/
				content: "/";
				padding-left: 15px;
				padding-right: 15px;
				color: $yellow;
				position: relative;
			}
			&:last-child:after {
				content: "";
				padding: 0 !important;
				display: none !important;
			}
		}
	}
	text-align: center;
	color: #FFF;
	background: $dark;
	margin: 0 auto;
	box-sizing: border-box;
	font-weight: bold;
	padding: 2em;
	width: 100%;
	a {
		color: #FFF;
		&:hover {
			color: #FFF;
		}
	}
}

a.nohover {
	&:hover {
		text-decoration: none !important;
	}
}

.page {
	margin: 0 auto;
	max-width: 1100px;
}
figure {
	display: inline-block;
	width: 100%;
	img {
		width: 100%;
		vertical-align: top;
	}
	&.lefter, &.righter {
		max-width: 350px;
	}
	&.lefter {
		margin-right: 2rem;
		float: left;
	}
	&.righter {
		margin-left: 2rem;
		float: right;
	}
	
	@media (max-width: 1400px) {
		&.lefter, &.righter {
			max-width: 300px;
		}
	}

	@media (max-width: 1100px) {
		&.lefter, &.righter {
			max-width: 250px;
		}
	}

	@media (max-width: 800px) {
		&.lefter, &.righter {
			max-width: 200px;
		}
	}

	@media (max-width: 600px) {
		&.lefter, &.righter {
			max-width: none !important;
		}
		display: block !important;
		width: 100%;
		img {
			width: 100%;
		}
	}
}
.page-content {
	margin: 0 auto;
	max-width: 800px;
}


.page-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-height: 100vh;
	clear: both;
}


.mainwrap {
	/*box-shadow: 0px 0px 2px $grey;*/
	/*background: $dark;*/
	background: #FFF;
	position: relative;
	min-height: 100vh;
	max-width: $max-width;
	margin: 0 auto;
}









/* BOXES */
.boxes {
}
.box {
	position: relative;
	width: 100%;
	height: 350px;

	@media (max-width: 1100px) {
		height: 250px;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #FFF;
	}


	.bg-yellow {
		background-color: $yellow;
		color: #FFF;
		h1, h2, h3, h4, h5, h6 {
			color: #FFF;
		}
	}

	.bg-grey {
		background-color: $grey;
		color: #FFF;
		h1, h2, h3, h4, h5, h6 {
			color: #FFF;
		}
	}

	&__overlay {
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		background: $yellow;
		opacity: 0;
		transition: opacity 0.5s;

		&:hover {
			opacity: 0.5;
		}
	}


	&--hover {
		&:hover {
			text-decoration: none;
			background: rgba($yellow, 0.5);
			color: #FFF;
		}
	}



	&__centertext {
		z-index: 2;
		width: 100%;
		color: #FFF;
		text-decoration: none;

		transition: background 0.2s;

		h4 {
			padding: 0;
			margin: 0;
			color: #FFF;
		}
	}

	&__text {
		position: absolute;
		bottom: 0;
		left: 0;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		right: 0;
		background: $grey;
		color: #FFF;
		font-weight: 700 !important;
		padding: 1em;
	}
}









/* CARD */
.card {
	position: relative;
	display: block;
	transition: background 0.2s;
	background: $grey2;

	&:hover {
		background: lighten($grey2, 2%);
		.card__image {
			opacity: 0.8;
		}
	}

	&__image {
		transition: opacity 0.2s;
		position: relative;
		display: block;
		background-color: #FFF;
		min-height: 240px;
	}

	&__text {
		font-weight: 600;
		padding: 0.6em;
		position: relative;
		display: block;
		text-align: center;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
















/* UIKIT */
.uk-notify-message {
	font-size: 125%;
	background: $yellow !important;
	line-height: 100%;
	padding: 1em;
	a {
		&.uk-close {
			display: none !important;
			visibility: hidden !important;
		}
		color: #FFF !important;
		&:hover {
			color: #FFF !important;
		}
	}
}














/* CART WIDGET */
#cart-widget {
	position: relative;
	display: inline-block;
	.cart-widget__link {
		display: block;
	}
	.cart-widget__link i {
		font-size: 3.5em;
	}
	.cart-widget__info {
		text-align: center !important;
		transition: opacity 0.5s;
		position: absolute;
		top: 3px;
		right: 9px;
		vertical-align: middle;
		background: #FFF;
		line-height: 22px;
		height: 22px;
		width: 22px;
		font-weight: 600;
		border-radius: 50%;
		font-size: 11px;
	}
	a {
		&:hover {
			color: $yellow;
		}
		color: $yellow;
	}
}

#cart-widget-nav {
	position: relative;

	.cart-widget-nav__link {
		display: block;
	}
	.cart-widget-nav__link i {
	}
	.cart-widget-nav__info {
		border-radius: 50%;
		background: #FFF;
		width: 25px;
		height: 25px;
		padding: 0;
		margin: 0;
		color: $dark;
		text-align: center !important;
	}
}











.fullbar {
	&.yellow {
		background: $yellow;
	}
	background: $grey;
	padding: 2em;
	h1, h2, h3, h4 {
		padding: 0;
		margin: 0;
		text-align: center;
		color: #FFF;
	}
}



.uk-slidenav-position .uk-slidenav-previous {
	left: -15px !important;
}
.uk-slidenav-position .uk-slidenav-next {
	right: -15px !important;
}

.uk-animation-5 {
    -webkit-animation-duration: 5s !important;
    animation-duration: 5s !important;
}

.uk-animation-3 {
    -webkit-animation-duration: 3s !important;
    animation-duration: 3s !important;
}

.uk-animation-1 {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
}





.opnunartimar {
	div {
		text-align: center;
		clear: both;
		span {
			font-weight: bold;
			display: block;
			margin-bottom: 1em;
		}
	}
}